.Footer{
    display: flex;
    justify-content: space-around; 
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;

}

.Footer h6{
    font-size: 23px;
}

.Footer ul{
    list-style: none;
    display: flex;
    margin-top: 60px;
}

.Footer li{
    margin-left: 20px;
}

.Footer a{
    color: aliceblue !important;
}