.Card{
    display: grid;
    justify-content: center;
}

.Card section{
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    margin-left: 17px;
}

.Card img{
    width: 350px;
    margin: 15px 15px 0px 15px ;
    cursor: pointer;
}

.Card h3{
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Card p{
   margin-left: 20px;
   margin-right: 20px;
   text-align: left;
}

.Card Button{
    margin-left: -115px;
    margin-bottom: 20px;
}